
//////-----------------------------this is an example of menu

.menu-body {
  max-width: 680px;
  margin: 0 auto;
  padding: 8px;
  display: block;
  color: rgb(92, 92, 92);
}

.menu-section {
  margin-bottom: 80px;
  padding-top: 1px;
}

.menu-section-title {
  font-family: Monaco;
  display: block;
  font-weight: normal;
  margin: 20px 0;
  text-align: center;
  color: darkgreen;
}

.menu-item {
  margin: 35px 0;
  font-size: 18px;
}

.menu-item-name {
  font-family: Helvetica;
  font-weight: bold;
  border-bottom: 2px dotted rgb(213, 213, 213);
}

.menu-item-description {
  font-style: italic;
  font-size: .9em;
  line-height: 1.5em;
}

.menu-item-price {
  float: right;
  font-family: Arial;
  font-weight: bold;
  margin-top: -22px;
}

//---------------------------------------------------------------------------------------
//  MENU WITH FLEX 
//---------------------------------------------------------------------------------------

// Style rules for container class
.menu-container {
  display: flex;
  flex-direction: row;
  gap: 10px 30px; /* row-gap column gap */
}

.menu-container {
    // for mabile 
    @media screen and (max-width: 800px) {
     display: grid;
     flex-direction: column;
       column-gap: 20px;
  }
}
.tabs{text-transform: uppercase;}

.item {
  h3 {
   color: var(--clr-green-dark);
   text-transform: uppercase;
  }
  h4 {
    font-size:1.2em;
    color: #8e110d;
  }
  span {
    font-size: 0.9em;
    display: inline-block;
    padding: 4px;
    text-align: center;
    color: #fff!important;
    background-color: var(--clr-gold);
    border-radius: 4px;
  }
}
// ---------------------------------------------------------------------------
//  verical menu  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_vertical_tabs
// ---------------------------------------------------------------------------


/* Style the tab */
.sidebar-menu{
  display: flex;
  flex-direction: row;
  gap: $gap;
  // padding: $padding;
@include query(tablet){
    display: flex;
    flex-direction: column;
}
    [class ^="tabs"]{
        // put div left & right, text at center  
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 2px solid $color;
            padding: 20px;

            // setup for mobile 
            @include query(mobile){
                // height: 50vh -$padding *2;
            }
    }
    // styles for the lef div 
.section-menu {
  display: flex;
  height: min-content;
  @include query(mobile){
flex-direction: column;
  }
	// we use the 20% of the total width
	flex-grow: 2;
}

   .tablinks{
    padding: 10px;
}

// hover underline 
.menu-underline-animation {
  display: inline-block;
  position: relative;
  color: #8e110d;
}

.menu-underline-animation:after {
  content: '';
  position: absolute;
  width: 80%;
  text-align: center;
  transform: scaleX(0);
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #8e110d;
  transform-origin: bottom center;
  transition: transform 0.30s ease-out;
}

.menu-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}
}



