<footer>
	<div class="container">
		<div class="footer_wrapper footer_icons">
			<h1>We're Social</h1>

			<a href="https://www.facebook.com/LaParrillaMexGrill" target="blank?"><i class="fab fa-facebook fa-3x"></i></a>&nbsp;

			<a href="https://www.instagram.com/laparrillamexgrill/" target="blank?">
				<i class="fab fa-instagram fa-3x"></i>
			</a>&nbsp;


			<a href="mailto:laparrillamx09@gmail.com"><span><i class="far fa-envelope fa-3x"></i></span></a>

			<p>
				© 2020
				<a href="https://www.google.com/maps/dir/?api=1&destination=38.747338492342%2C-122.61958616439&fbclid=IwAR32dGZSFBAWYTH1jN4z_YvNBTH1p9XwNquwmJxrygSFKHz1XhFcJKT4dpw" target="blank?">21389 Stewart St, Middletown, CA 95461</a> &nbsp; <a href="tel:7079874663">707.987.4663</a>
			</p>
		</div>
	</div>
</footer>