---
title: La Parrilla Mexican Grill | About
---

<div class="container container_wrapper">
	<div class='row'>
		<section class='column'>
			<div class='image_col'>
				<%= image_tag 'about.jpg' %>
			</div>
		</section>

		<aside class='column'>
			<div class='text-column'>
				<h1>About</h1>
				<blockquote>
					<p>
						<%= lorem.sentences 5 %>
					</p>
					<p>
						<%= lorem.sentences 5 %>
					</p>		
				</blockquote>

			</div>
		</aside>
	</div>
</div>

