---
title: La Parrilla Mexican Grill | Home
---
<!--Responsive Hero Image with CSS Text + Button + popup Full-Width. If you like my work, please credit author: www.action360.ca @action360ca Enjoy!-->
<div class="hero-image">
  <section class="hero_text container">
    <h1>La Parrilla Mexican Grill</h1>
    <p>Mexican Restaurant · Family Style Restaurant</p>
    <a href="tel:7079874663">707.987.4663</a>
    
  </section>
</div>

<div class=" container wrapper_info">
<section class="info">
    <h1 class="main_name">La Parrilla Mexican Grill</h1>
    <p>
      “Zipolite enchiladas, quesadillas, fresh guac and killer margaritas are just 
      a taste of what we’ve got at La Parrilla Mexican Restaurant.”
    </p>
  </section>
  <br>

  <div class="row_info">
    <div class="column_menu">
      <h1>Our Menu</h1>
      <p>
      Check out our
        <%= link_to 'Menu', '/menu.html', :relative => true %>
      </p>
    </div>

    <div class="column_contact">
      <h1>Contact Us</h1>
      <div class="textwidget">
        <p>
          21389 Stewart St Middletown, CA 95461
        </p>
       <strong><a href="tel:7079874663">707.987.4663</a></strong>
     </div>
      <div class="textwidget">
        <p><em>Monday:</em>12:00 PM - 8:00 PM </p>
        <p><em>Tuesday:</em>12:00 PM - 8:00 PM</p>
        <p><em>Wednesday:</em>12:00 PM - 8:00 PM</p>
        <p><em>Thursday:</em>12:00 PM - 8:00 PM</p>
        <p><em>Friday:</em>12:00 PM - 8:00 PM</p>
        <p><em>Saturday:</em>12:00 PM - 8:00 PM</p>
        <p><em>Sunday:</em> CLOSED</p>
       </div>
    </div>

  </div>
</div><!--  end of container -->
