---
title: La Parrilla Mexican Grill | Menu
---
<div class="container container_wrapper">	
	<div class="menu-body">
		<h1>La Parrilla</h1>

		<h3 class="menu-section-title">APPETIZERS</h3> 
		<!-- Item Starts -->
		<div class="menu-item">
			<div class="menu-item-name">
				Homemade Guacamole
			</div>
			<div class="menu-item-price">
				Small $5.00 | Large $8.50
			</div>
			<div class="menu-item-description">
				House Chips & Salsa (Refill) $1.00 Favorite! - First basket is on us! 
			</div>
		</div> <!-- Item Ends -->

		<div class="menu-item">
			<div class="menu-item-name">
				Taquitos Dorados
			</div>
			<div class="menu-item-price">
				$7.50
			</div>
			<div class="menu-item-description">
				3 mini deep fried tacos stuffed with 
				shredded chicken breast and topped with fresh green leaf lettuce, zesty salsa, queso fresco, and drizzled 
				with sour cream. 
			</div>
		</div><!-- Item Ends -->

		<div class="menu-item">
			<div class="menu-item-name">
				Coctel de Camaron
			</div>
			<div class="menu-item-price">
				$9.75
			</div>
			<div class="menu-item-description">
				Large shrimp in house cocktail sauce with avocado, cilantro,and diced onions. 
				Served with crackers.
			</div>
		</div><!-- Item Ends -->

		<div class="menu-item">
			<div class="menu-item-name">
				Loaded Nachos
			</div>
			<div class="menu-item-price">
				$8.75
			</div>
			<div class="menu-item-description">
				Topped with melted Monterey Jack cheese, homemade refried black beans, 
				pico de gallo, guacamole, pickled jalapeños, drizzled with sour cream.
			</div>
		</div><!-- Item Ends -->

		<div class="menu-item">
			<div class="menu-item-name">
				Tostaditas
			</div>
			<div class="menu-item-price">
				$8.50
			</div>
			<div class="menu-item-description">
				2 deep fried tostada shells topped with Tinga (smoky shredded chicken breast 
				cooked with onions), topped with homemade refried black beans, fresh green leaf lettuce, zesty salsa, queso 
				fresco, drizzled with sour cream. 
			</div>
		</div><!-- Item Ends -->

		<div class="menu-item">
			<div class="menu-item-name">
				Sopestitos
			</div>
			<div class="menu-item-price">
				$7.00 
			</div>
			<div class="menu-item-description">
				3 masa (corn) cakes made from scratch, topped with our flavorful homemade refried black beans, fresh green leaf lettuce, queso fresco, zesty salsa, 
				drizzled with sour cream. 
			</div>
		</div><!-- Item Ends -->

		<div class="menu-item">
			<div class="menu-item-name">
				SOUP Xochitl (SO-chill) 
			</div>
			<div class="menu-item-price">
				$8.00 
			</div>
			<div class="menu-item-description">
				Shredded chicken breast, homemade rice, chopped onions, topped with fresh cilantro. Served with a side of steamed corn tortillas. Add a squeeze of lime for 
				a festive flavor!  
			</div>
		</div><!-- Item Ends -->

		<div class="menu-item">
			<div class="menu-item-name">
				ADD MEAT
			</div>
			<div class="menu-item-price">
				$5.00 
			</div>
			<div class="menu-item-description">
				Carne Asada, Al Pastor, Chile Verde, Carnitas, Pollo Adobado,  or Chorizo  Add Shrimp or Fish $6.50   
			</div>
		</div><!-- Item Ends -->
   
<h3 class="menu-section-title">SALAS</h3> 

 
Taco Salad $10.50
Flat tostada shells, house-made refried black beans, fresh green leaf lettuce tossed in house dressing, pineapple, picode gallo, queso fresco, pickled red onions, shredded 
carrotts, guacamole, drizzled with sourcream. 
Parrilla House Salad Small $6.50 | Large $8.50 Fresh green leaf lettuce, pico de gallo, pineapple, carrotts, queso fresco, pickled red 
onions, and sesame seeds. Tossed in our house dressing. ADD MEAT $5.00 : Carne Asada, Al Pastor, Chile Verde, Carnitas, or Pollo Adobado. 
Add Shrimp or Fish$6.50 
QUESADILLAS 
Flour tortilla with a generous portion of melted Monterey Jack cheese 
Served with refried black beans and sour cream on the side. $9.50 Add meat: Carne Asada, Al Pastor, Pollo Adobado or Fresh Veggies +3.00 
Switch to Grilled Shrimp or Fish +$4.00
<hr>
<br>
ENCHILADAS 3 of the same type of our authentic enchiladas are served with our house-made refried black beans and rice. Mixing enchilada types are subject to $2 charge 
Parrilla Enchilada $14.95 Tender shredded chicken breast with your choice of red (mild) or green (zesty) sauce. Topped with quest fresco sliced onions, drizzled with 
sour cream. 
Suizas $14.95 Tender shredded chicken breast with melted Monterey Jack cheese. Choice of red (mild) or green (zesty) sauce. Topped 
with sliced onions, drizzled with sour cream. 
Veggie (Tostada-style) $14.95 Carrots, potatoes, bell peppers, onions, mushrooms, cactus, and queso fresco. Choose red (mild) or green (zesty) sauce. 
Topped with sliced onions and a drizzling of sour cream. 
Mole Pablano $15.25 Corn tortillas softened with our Mole sauce (hot chiles, blended with rich chocolate sauce), stuffed with shredded chicken breast, topped with onions, queso 
drizzled with sour cream. 
Enchiladas Michoacanas (Mitch-oa-kannas) $15.25 Corn tortillas cooked in red guajillo sauce, topped with tender shredded chicken breast, diced potatoes & carrotts, shredded green leaf lettuce, quest fresco, sliced 
onions, and drizzled with sour cream. 
A la carte enchilada (Choose one) $5.50 Suiza, Parrilla, Veggie or Mole Pablano 
LA PARRILLA SPECIALTIES 
PORK DISHES 
Chile Verde $15.50 
Tacos Pibil $15.50 Tender marinated pork topped with 3 soft corn tortillas with Pibil (traditional salsa verde, sliced onion, and cilantro. slow-roasted pork) topped with pickled 
Served with tortillas, house-made 
red onions. Served with house-made refried black beans, and rice. 
rice, refried black beans, and a bottle of 
habanero salsa. Panuchos $15.50 2 deep fried corn tortillas topped with 
Mixiotes (M-shee-o-tays) $15.50 refried black beans, Pibil, and pickled Pibil (traditional slow-roasted pork) topped with pickled red onions. Served mixed with onions and steamed cactus 
with house-made rice, refried black 
in our authentic sauce. Served with beans, and a bottle of 
tortillas, house-made refried black habanero salsa. 
beans, and rice. 
<hr>
<br>
ALAMBRES (House Favorites!) Think fajitas, only better! Choose fresh-grilled meat or veggie alambres, mixed with Monterey Jack cheese, 
mushrooms, bell peppers, & onion. Served with steamed corn tortillas, zesty 
salsa, house-made refried black beans, & rice. 
Cubano (Most Popular!) - Steak, chorizo, bacon, and al pastor $15.50 
Al Pastor - Marinated pork and pineapple $15.50 
Clasico - Grilled steak and savory bacon $15.50 Pechuga - Sliced, grilled chicken breast and cactus $15.50 
Veggie - Grilled carrots, potatoes, and cactus $15.50 Seafood - Grilled shrimp or fish (has cactus, nopales!) $17.50 
SEAFOOD 
Camarones a la Diabla $16.50 Shrimp sautéed in spicy salsa, served with house salad, rice, and choice of tortillas. Choose your heat: 1 Medium, 2 Spicy, 3 extra spicy, or 4 Diabla! 
Coctel de Camaron $17.50 A generous portion of shrimp in house cocktail sauce with avocado, cilantro, and 
diced onions. Served with crackers. 
Camarones al Mojo $16.50 Shrimp and onions sautéed in buttery garlic sauce. Served with house salad, rice, 
and choice of tortillas. 
Enchiladas Zipolite (HOUSE FAVORITE!) $17.50 2 flour tortillas filled with fresh guacamole, covered in rich pineapple chipotle sauce with sautéed shrimp, bell peppers & onions. Served with rice & salad. 
Seafood Taco $7.50 each Grilled fish or shrimp. Served with house-made rice. 
BURRITOS 
Small $8.50 | Large $9.95 All Burritos are filled with refried black beans, rice, cilantro, onion, zesty 
salsa and sour cream drizzled on outside, if dining in. Parrilla Burrito- (Choose one Meat): Carne Asada, Al Pastor, Carnitas, 
Pollo Adobado, Chile Verde. Cubano Burrito- Cubano Alambre inside a burrito $15.50 
Pechuga (grilled chicken) or Pibil Small $9.50 | Large $10.50 Grilled Veggies- (carrots, potatoes, bell peppers, onions, mushrooms, & cactus) No Meat Burrito, Refried black beans, rice, salsa, pico de gallo, drizzled with sour 
cream. Small $7.00 | Large $8.50 Grilled Fish or Shrimp. *Only comes in Large $12.50 
were Burrito ADD-ONS: “Wet” burrito (burrito covered in green or red salsa) $1.00 ADD Monterey Jack Cheese $1.00 | ADD Guacamole $2.00. 
CHIMICHANGA Choose ONE Meat: Carne Asada, Al Pastor, Carnitas, Pollo Adobado, OR Chile Verde, filled 
h cheese onion cilantro 
salsa den fried tonnadh can Yannico del 9 
ALAMBRES (House Favorites!) Think fajitas, only better! Choose fresh-grilled meat or veggie alambres, mixed with Monterey Jack cheese, mushrooms, bell peppers, & onion. Served with steamed corn tortillas, zesty 
salsa, house-made refried black beans, & rice. 
Cubano (Most Popular!) - Steak, chorizo, bacon, and al pastor $15.50 
Al Pastor - Marinated pork and pineapple $15.50 
Clasico - Grilled steak and savory bacon $15.50 Pechuga - Sliced, grilled chicken breast and cactus $15.50 
Veggie - Grilled carrots, potatoes, and cactus $15.50 Seafood - Grilled shrimp or fish (has cactus, nopales!) $17.50 
SEAFOOD 
Camarones a la Diabla $16.50 Shrimp sautéed in spicy salsa, served with house salad, rice, and choice of tortillas. Choose your heat: 1 Medium, 2 Spicy, 3 extra spicy, or 4 Diabla! 
Coctel de Camaron $17.50 A generous portion of shrimp in house cocktail sauce with avocado, cilantro, and 
diced onions. Served with crackers. 
Camarones al Mojo $16.50 Shrimp and onions sautéed in buttery garlic sauce. Served with house salad, rice, 
and choice of tortillas. 
Enchiladas Zipolite (HOUSE FAVORITE!) $17.50 2 flour tortillas filled with fresh guacamole, covered in rich pineapple chipotle sauce with sautéed shrimp, bell peppers & onions. Served with rice & salad. 
Seafood Taco $7.50 each Grilled fish or shrimp. Served with house-made rice. 
BURRITOS 
Small $8.50 | Large $9.95 All Burritos are filled with refried black beans, rice, cilantro, onion, zesty 
salsa and sour cream drizzled on outside, if dining in. Parrilla Burrito- (Choose one Meat): Carne Asada, Al Pastor, Carnitas, 
Pollo Adobado, Chile Verde. Cubano Burrito- Cubano Alambre inside a burrito $15.50 
Pechuga (grilled chicken) or Pibil Small $9.50 | Large $10.50 Grilled Veggies- (carrots, potatoes, bell peppers, onions, mushrooms, & cactus) No Meat Burrito, Refried black beans, rice, salsa, pico de gallo, drizzled with sour 
cream. Small $7.00 | Large $8.50 Grilled Fish or Shrimp. *Only comes in Large $12.50 
Burrito ADD-ONS: "Wet" burrito (burrito covered in green or red salsa) $1.00 ADD Monterey Jack Cheese $1.00 | ADD Guacamole $2.00. 
CHIMICHANGA Choose ONE Meat: Carne Asada, Al Pastor, Carnitas, Pollo Adobado, OR Chile Verde, filled with cheese, onion, cilantro, & salsa, deep fried, topped with sour cream, pico de gallo, & 
guacamole, if dining in. $14.50 
<hr>
<br>

TACOS a la CARTE $3.25 each. (ADD CHEESE: 50¢) 
Soft corn tortilla with cilantro, onions, and salsa. Carne Asada, Al Pastor, Carnitas, Chorizo, Pollo Adobado, or Chile Verde. No Meat Taco-refried black beans, rice, salsa, lettuce, pico de gallo, & quest fresco. 
TORTAS These warm sandwiches on toasted Mexican bread are filled with Monterey Jack, homemade refried black beans, tomato, pickled onion, avocado, pickled jalapeños, 
and our house chipotle dressing. Classic Torta: Meat Choices: (Choose One) Carne Asada, Al Pastor, Carnitas, House 
made Chorizo, or Pibil. $11.50 Specialty Cubana (House Favorite!): Comes with all three meats: Carne Asada, House made Chorizo, and Al Pastor. $12.50. 
SIDES Tortillas - $1 
Monterey Jack - $2 Sour cream - $1 
Queso fresco - $2 Pickled jalapeños - $1 
Red enchilada salsa - $2 Grilled meat or veggies - $5 
Salsa verde - $2 Pechuga or Pibil - $5.50 
Mole sauce - $2.50 Grilled shrimp or fish - $6.50 
Love our Salsa? Purchase a bottle! Lettuce - $2 
Bottle of Habanero-$5 Pico de gallo - $2 
Bottle of Taco salsa - $5 
BEVERAGES Fountain $2.75 
Bottled $3.00 Pepsi, Diet Pepsi, Brisk Unsweetened 
Coke, Iced Tea, Brisk Raspberry Tea, Sierra 
Jarritos: Mist, Orange Dr. Pepper, Crush, 
flavors: Lime, Mandarin, Pineapple, Decaffeinated: Mug Root Beer, 
Strawberry & Tamarindo Tropicana Lemonade, Sierra Mist, 
Hot Tea Horchata - (no refill) 
Coffee 
BEER 
Bottled Beer $4.00 
Clausthauler Coors Light 
Corona Corona Light 
Pacifico Siearra Nevada 
Draft Beer $5.00 Modelo Especial Negra Modelo Laguanitas IPA 
AGUAVE WINE MARGARITAS $5.50 Served on the rocks ONLY. Choose From: Regular (Lime) Strawberry | Jalapeño 
WINE House wine - Coastal Ridge Canernet Sauvignan or Chardonnay, by the glass $6.00 
$5 Corkage Fee 
</div>

</div>

<div class="menu-body">
  
  <!-- Section starts: Tacos -->
  <div class="menu-section">
    <h3 class="menu-section-title">Tacos</h3>
    <!-- Item Starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Carne Asada
      </div>
      <div class="menu-item-price">
        $10
      </div>
      <div class="menu-item-description">
        Un taco bien perron y sabroso.
      </div>
    </div>
    <!-- Item Ends -->

    <!-- Item Starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Al Pastor
      </div>
      <div class="menu-item-price">
        $10
      </div>
      <div class="menu-item-description">
        Un taco bien perron y sabroso.
      </div>
    </div>
    <!-- Item Ends -->

    <!-- Item Starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Cabeza
      </div>
      <div class="menu-item-price">
        $10
      </div>
      <div class="menu-item-description">
        Un taco bien perron y sabroso.
      </div>
    </div>
    <!-- Item Ends -->

    <!-- Item Starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Lengua
      </div>
      <div class="menu-item-price">
        $10
      </div>
      <div class="menu-item-description">
        Un taco bien perron y sabroso.
      </div>
    </div>
    <!-- Item Ends -->

    <!-- Item Starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Chorizo
      </div>
      <div class="menu-item-price">
        $10
      </div>
      <div class="menu-item-description">
        Un taco bien perron y sabroso.
      </div>
    </div>
    <!-- Item Ends -->
    
  </div>
  <!-- Section ends: Tacos -->
  
  <!-- Section starts: Burritos -->
  <div class="menu-section">
    <h3 class="menu-section-title">Burritos</h2>
    <!-- Item Starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Chicken
      </div>
      <div class="menu-item-price">
        $12
      </div>
      <div class="menu-item-description">
        Un burrito bien perron y sabroso.
      </div>
    </div>
    <!-- Item Ends -->
    
    <!-- Item Starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Bean and Cheese
      </div>
      <div class="menu-item-price">
        $12
      </div>
      <div class="menu-item-description">
        Un burrito bien perron y sabroso.
      </div>
    </div>
    <!-- Item Ends -->
    
    <!-- Item Starts -->
    <div class="menu-item">
      <div class="menu-item-name">
        Veggie
      </div>
      <div class="menu-item-price">
        $12
      </div>
      <div class="menu-item-description">
        Un burrito bien perron y sabroso.
      </div>
    </div>
    <!-- Item Ends -->
    
  </div>
  <!-- Section ends: Tacos -->
  
</div>
    
