---
title: La Parrilla Mexican Grill | Vertiacal mnu
---



<div class="container container_wrapper ">

    <h1>Menu</h1>

    <div class="sidebar-menu">

        <section class="tabs section-menu item-one item">

            <div class="tablinks tab is-tab-selected menu-underline-animation" onclick="openTab(event, 'appetizer')" id="defaultOpen">
                <h3>APPETIZERS/SALADS</h3> 
            </div>

            <div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'burritos')">
                <h3>burritos / quesadillas</h3> 
            </div>

            <div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'tacos')">
                <h3>tacos / tortas</h3>
            </div>

            <div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'alambres')">
                <h3>alambres / enchiladas</h3>
            </div>

            <div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'specialties')">
                <h3>Specialties / seafood</h3>
            </div>

            <div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'beverage')">
                <h3>beverage / sides</h3>
            </div>
        </section>



        <aside class="tabs aside-menu">

            <div id="appetizer" class="tabcontent">
                <h3>APPETIZERS</h3>
                <h4>Homemade Guacamole  <span>small- $5.00 | large -$10</span></h4>

                <aside>
                    <p>House Chips & Salsa (Refill) $1.00 Favorite! - First basket is on us! </p>
                </aside>

                <h4>
                    Taquitos Dorados  <span>$7.50</span>
                </h4>

                <aside>
                    <p>
                        3 mini deep fried tacos stuffed with shredded chicken breast and topped with fresh green leaf lettuce, zesty salsa, queso fresco, and drizzled with sour cream.
                    </p>
                </aside>

                <h4>
                    Coctel de Camaron  <span>$9.75</span>
                </h4>

                <aside>
                    <p>
                        Large shrimp in house cocktail sauce with avocado, cilantro,and diced onions. Served with crackers.
                    </p>
                </aside>

                <h4>
                    Loaded Nachos  <span>$8.75</span>
                </h4>

                <aside>
                    <p>
                        Topped with melted Monterey Jack cheese, homemade refried black beans, pico de gallo, guacamole, pickled jalapeños, drizzled with sour cream.
                    </p>
                </aside>

                <h4>
                    Tostaditas  <span>$8.50</span>
                </h4>

                <aside>
                    <p>
                        2 deep fried tostada shells topped with Tinga (smoky shredded chicken breast cooked with onions), topped with homemade refried black beans, fresh green leaf lettuce, zesty salsa, queso fresco, drizzled with sour cream.
                    </p>
                </aside>

                <h4>
                    Sopestitos  <span>$7.00</span>
                </h4>

                <aside>
                    <p>
                        3 masa (corn) cakes made from scratch, topped with our flavorful homemade refried black beans, fresh green leaf lettuce, queso fresco, zesty salsa, drizzled with sour cream.
                    </p>
                </aside>

                <h4>
                    SOUP Xochitl (SO-chill)  <span>$8.00</span>
                </h4>

                <aside>
                    <p>
                        Shredded chicken breast, homemade rice, chopped onions, topped with fresh cilantro. Served with a side of steamed corn tortillas. Add a squeeze of lime for a festive flavor!
                    </p>
                </aside>

                <h4>
                    ADD MEAT  <span>$5.00</span>
                </h4>

                <aside>
                    <p>
                        Carne Asada, Al Pastor, Chile Verde, Carnitas, Pollo Adobado, or Chorizo Add Shrimp or Fish $6.50
                    </p>
                </aside>

                <h3>SALADS</h3>

                <h4>
                    Taco Salad <span>$10.50</span>
                </h4>

                <aside>
                    <p>
                        Flat tostada shells, house-made refried black beans, fresh green leaf lettuce tossed in house dressing, pineapple, picode gallo, queso fresco, pickled red onions, shredded carrotts, guacamole, drizzled with sourcream.
                    </p>
                </aside>

                <h4>
                    Parrilla House Salad <span>Small $6.50 | Large $8.50</span>
                </h4>

                <aside>
                    <p>
                        Fresh green leaf lettuce, pico de gallo, pineapple, carrotts, queso fresco, pickled red onions, and sesame seeds. Tossed in our house dressing. ADD MEAT $5.00 : Carne Asada, Al Pastor, Chile Verde, Carnitas, or Pollo Adobado. Add Shrimp or Fish $6.50
                    </p>
                </aside>
            </div>

            <div id="burritos" class="tabcontent">
                <h3>burritos</h3>
                <p><span> <em>Small $8.50 | Large $9.95</em></span></p>
                <aside>
                    <p>
                        All Burritos are filled with refried black beans, rice, cilantro, onion, zesty salsa and sour cream drizzled on outside, if dining in. Parrilla Burrito- (Choose one Meat): Carne Asada, Al Pastor, Carnitas, Pollo Adobado, Chile Verde.
                    </p>
                </aside>

                <h4>Cubano Burrito<span>$15.50</span></h4>
                <aside>
                    <p>
                        Cubano Alambre inside a burrito
                    </p>
                </aside>

                <h4>Pechuga (grilled chicken) or Pibil<span>Small $9.50 | Large $10.50 Grilled</span></h4>
                <aside></aside>


                <h4>Veggies<span>Small $7.00 | Large $8.50</span></h4>
                <aside>
                    <p>
                        carrots, potatoes, bell peppers, onions, mushrooms, & cactus No Meat Burrito, Refried black beans, rice, salsa, pico de gallo, drizzled with sour cream.
                    </p>
                </aside>

                <h4>Grilled Fish or Shrimp<span>$12.50</span></h4>
                <aside>
                    <p>
                        Only comes in Large
                    </p>
                </aside>

                <h4>Burrito ADD-ONS:<span>$12.50</span></h4>
                <aside>
                    <p>
                        “Wet” burrito (burrito covered in green or red salsa) <span>$1.00</span>
                    </p>
                    <p>ADD Monterey Jack Cheese<span>$1.00</span></p>
                    <p>ADD Guacamole<span>$2.00</span></p>
                </aside>

                <h3>CHIMICHANGA</h3>
                <h4><span>$14.50</span></h4>
                <aside>
                    <p>
                        Choose ONE Meat: Carne Asada, Al Pastor, Carnitas, Pollo Adobado, OR Chile Verde, filled with cheese, onion cilantro and salsa, deep fried, topped with sour cream, pico de gallo, & guacamole, if dining in.
                    </p>
                </aside>

                <h3>QUESADILLAS</h3>
                <h4>Quesadilla  <span>$9.50</span></h4>
                <aside>
                    <p> <em>
                    Flour tortilla with a generous portion of melted Monterey Jack cheese Served with refried black beans and sour cream on the side. Add meat: Carne Asada, Al Pastor, Pollo Adobado or Fresh Veggies +3.00 Switch to Grilled Shrimp or Fish +$4.00 </em>
                </p>
            </aside>
        </div>

        <div id="tacos" class="tabcontent">
            <h3>TACOS A La CARTE</h3>
            <h4><span>$3.25 each</span></h4>
            <aside>
                <p>
                    (ADD CHEESE: 50¢) Soft corn tortilla with cilantro, onions, and salsa. Carne Asada, Al Pastor, Carnitas, Chorizo, Pollo Adobado, or Chile Verde. No Meat Taco-refried black beans, rice, salsa, lettuce, pico de gallo, & quest fresco.
                </p>
            </aside>

            <h3>TORTAS</h3>
            <p>
                These warm sandwiches on toasted Mexican bread are filled with Monterey Jack, homemade refried black beans, tomato, pickled onion, avocado, pickled jalapeños, and our house chipotle dressing.
            </p>

            <h4>Classic Torta<span>$11.50</span></h4>
            <aside>
                <p>
                    Meat Choices: (Choose One) Carne Asada, Al Pastor, Carnitas, House made Chorizo, or Pibil.
                </p>
            </aside>

            <h4>Specialty Cubana (House Favorite!)<span>$12.50</span></h4>
            <aside>
                <p>
                    Comes with all three meats: Carne Asada, House made Chorizo, and Al Pastor.
                </p>
            </aside>
        </div>

        <div id="alambres" class="tabcontent">
            <h3>ALAMBRES</h3>
            <p><em>
                (House Favorites!) Think fajitas, only better! Choose fresh-grilled meat or veggie alambres, mixed with Monterey Jack cheese, mushrooms, bell peppers, & onion. Served with steamed corn tortillas, zesty salsa, house-made refried black beans, & rice.
            </em></p>
            <h4>Cubano (Most Popular!) <span>$15.50</span></h4>

            <aside>
                <p>
                    Steak, chorizo, bacon, and al pastor
                </p>
            </aside>

            <h4>Al Pastor<span>$15.50</span></h4>

            <aside>
                <p>
                    Marinated pork and pineapple
                </p>
            </aside>

            <h4>Clasico<span>$15.50</span></h4>
            <aside>
                <p>
                    Grilled steak and savory bacon
                </p>
            </aside>

            <h4>Clasico<span>$15.50</span></h4>
            <aside>
                <p>
                    Grilled steak and savory bacon
                </p>
            </aside>

            <h4>Pechuga<span>$15.50</span></h4>
            <aside>
                <p>
                    Sliced, grilled chicken breast and cactus
                </p>
            </aside>

            <h4>Veggie<span>$15.50</span></h4>
            <aside>
                <p>
                    Grilled carrots, potatoes, and cactus
                </p>
            </aside>

            <h4>Seafood<span>$17.50</span></h4>
            <aside>
                <p>
                    Grilled shrimp or fish (has cactus, nopales!)
                </p>
            </aside>

            <h3>ENCHILADAS</h3>
            <p>
                3 of the same type of our authentic enchiladas are served with our house-made refried black beans and rice. Mixing enchilada types are subject to $2 charge
            </p>
            <h4>Parrilla Enchilada  <span>$14.95</span></h4>

            <aside>
                <p>
                    Tender shredded chicken breast with your choice of red (mild) or green (zesty) sauce. Topped with quest fresco sliced onions, drizzled with sour cream.
                </p>
            </aside>

            <h4>Suizas <span>$14.95</span></h4>

            <aside>
                <p>
                    Tender shredded chicken breast with melted Monterey Jack cheese. Choice of red (mild) or green (zesty) sauce. Topped with sliced onions, drizzled with sour cream.
                </p>
            </aside>

            <h4>Veggie (Tostada-style) <span>$14.95</span></h4>

            <aside>
                <p>
                    Carrots, potatoes, bell peppers, onions, mushrooms, cactus, and queso fresco. Choose red (mild) or green (zesty) sauce. Topped with sliced onions and a drizzling of sour cream.
                </p>
            </aside>

            <h4>Mole Pablano <span>$15.25</span></h4>

            <aside>
                <p>
                    Corn tortillas softened with our Mole sauce (hot chiles, blended with rich chocolate sauce), stuffed with shredded chicken breast, topped with onions, queso drizzled with sour cream.
                </p>
            </aside>

            <h4>Enchiladas Michoacanas (Mitch-oa-kannas) <span>$15.25</span></h4>

            <aside>
                <p>
                    Corn tortillas cooked in red guajillo sauce, topped with tender shredded chicken breast, diced potatoes & carrotts, shredded green leaf lettuce, quest fresco, sliced onions, and drizzled with sour cream.
                </p>
            </aside>

            <h4>A la carte enchilada (Choose one) <span>5.50</span></h4>

            <aside>
                <p>
                    Suiza, Parrilla, Veggie or Mole Pablano
                </p>
            </aside>
        </div>


        <div id="specialties" class="tabcontent">
            <h3>LA PARRILLA SPECIALTIES PORK DISHES</h3>
            <h4>Chile Verde <span>$15.50</span></h4>

            <aside>
                <p>
                    Tender marinated pork topped with salsa verde, sliced onion, and cilantro. Served with tortillas, house-made refried black beans, and rice.
                </p>
            </aside>

            <h4>Tacos Pibil <span>$15.50</span></h4>

            <aside>
                <p>
                    3 soft corn tortillas with Pibil (traditional salsa verde, sliced onion, and cilantro. slow-roasted pork) topped with pickled Served with tortillas, house-made red onions. Served with house-made refried black beans, and rice. 3 soft corn tortillas with Pibil (traditional slow-roasted pork) topped with pickled red onions. Served with house-made
                </p>
            </aside>

            <h4>Panuchos <span>$15.50</span></h4>

            <aside>
                <p>
                    2 deep fried corn tortilla topped with refried black beans, Pibil, and pickled topped with pickled red onions. Served with house-made rice refried black beans, and a bottle of Habanero sauce
                </p>
            </aside>

            <h4>Mixotes (M-shee-o-tays) <span>$15.50</span></h4>

            <aside>
                <p>
                    pibil (Traditional slow-roasted pork) mixed with onions and steamed cactus in our authentic sauce. Served with tortilla, house-made refried black beans and rice.
                </p>
            </aside>

            <h3>SEAFOOD</h3>
            <h4>Camarones a la Diabla<span>$16.50</span></h4>
            <aside>
                <p>
                    Shrimp sautéed in spicy salsa, served with house salad, rice, and choice of tortillas. Choose your heat: 1 Medium, 2 Spicy, 3 extra spicy, or 4 Diabla!
                </p>
            </aside>

            <h4>Coctel de Camaron<span>$17.50</span></h4>
            <aside>
                <p>
                    A generous portion of shrimp in house cocktail sauce with avocado, cilantro, and diced onions. Served with crackers.
                </p>
            </aside>

            <h4>Camarones al Mojo<span>$16.50</span></h4>
            <aside>
                <p>
                    Shrimp and onions sautéed in buttery garlic sauce. Served with house salad, rice, and choice of tortillas.
                </p>
            </aside>

            <h4>Enchiladas Zipolite (HOUSE FAVORITE!)<span>$17.50</span></h4>
            <aside>
                <p>
                    2 flour tortillas filled with fresh guacamole, covered in rich pineapple chipotle sauce with sautéed shrimp, bell peppers & onions. Served with rice & salad.
                </p>
            </aside>

            <h4>Seafood Taco<span>$7.50</span></h4>
            <aside>
                <p>
                    each Grilled fish or shrimp. Served with house-made rice.
                </p>
            </aside>
        </div>


        <div id="beverage" class="tabcontent">

            <h3>BEVERAGES</h3>
            <h4>
                Fountain  <span>$2.75</span>
            </h4>

            <aside>
                <p>
                    Pepsi, Diet Pepsi, Brisk Unsweetened Iced Tea, Brisk Raspberry Tea, Sierra Mist, Orange Dr. Pepper, Crush, Decaffeinated: Mug Root Beer, Tropicana Lemonade, Sierra Mist, Horchata - (no refill)
                </p>
            </aside>

            <h4>
                Bottled  <span>$3.00</span>
            </h4>

            <aside>
                <p>
                    Coke, Jarritos: flavors: Lime, Mandarin, Pineapple, Strawberry & Tamarindo, Hot Tea, Coffee

                </p>
            </aside>

            <h3>BEER</h3>
            <h4>
                Bottled Beer  <span>$4.00</span>
            </h4>

            <aside>
                <p>
                    Clausthauler, Coors Light, Corona, Corona Light, Pacifico, Siearra Nevada

                </p>
            </aside>

            <h4>
                Draft Beer  <span>$5.00</span>
            </h4>

            <aside>
                <p>
                    Modelo Especial, Negra Modelo, Laguanitas IPA

                </p>
            </aside>

            <h3>AGUAVE WINE MARGARITAS</h3>
            <h4>
                <span>$5.50</span>
            </h4>
            <aside>
                <p>
                    Served on the rocks ONLY. Choose From: Regular (Lime) Strawberry | Jalapeño

                </p>
            </aside>

            <h3>WINE</h3>
            <h4>Corkage Fee<span>$5.00</span>
            </h4>
            <aside>
                <p>
                    House wine - Coastal Ridge Canernet Sauvignan or Chardonnay, by the glass $6.00

                </p>
            </aside>

            <h3>SIDES</h3>
            <aside>
                <h4>Tortillas<span>$1.00</span></h4>
                <h4>Monterey Jack<span>$2.00</span></h4>
                <h4>Sour cream<span>$1.00</span></h4>
                <h4>Queso fresco<span>$2.00</span></h4>
                <h4>Pickled jalapeños<span>$1.00</span></h4>
                <h4>Red enchilada salsa<span>$2.00</span></h4>
                <h4>Grilled meat or veggies<span>$5.00</span></h4>
                <h4>Salsa verde<span>$2.00</span></h4>
                <h4>Pechuga or Pibil<span>$5.50</span></h4>
                <h4>Mole sauce<span>$2.50</span></h4>
                <h4>Grilled shrimp or fish<span>$6.50</span></h4>
                <h4>Lettuce<span>$2.00</span></h4>
                <h4>Pico de gallo<span>$1.00</span></h4>
                <h4>Love our Salsa? Purchase a bottle!<span></span></h4>
                <h4>Bottle of Habanero<span>$5.00</span></h4>
                <h4>Bottle of Taco salsa<span>$5.00</span></h4>
            </aside>

        </div>
    </aside>

</div> <!-- end of the flex-container-menu -->
</div> <!-- end of container -->

