---
title: La Parrilla Mexican Grill | Vertiacal mnu
---

<!-- 	<h2>Vertical Tabs</h2>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div> -->

<div class="container">

	<h1>Menu</h1>

<div class="sidebar-menu">

	<section class="tabs section-menu item-one item">

		<div class="tablinks tab is-tab-selected" onclick="openTab(event, 'appetizer', 'arrow1')" id="defaultOpen">
			APPETIZERS
			<span id="arrow1" class="arrow fas fa-caret-right"></span>
		</div>

		<div class="tablinks tab" onclick="openTab(event, 'wordPress', 'arrow2')">
			
			WordPress <span id="arrow2" class=" arrow fas fa-caret-right"></span>
		</div>

		<div class="tablinks tab" onclick="openTab(event, 'videos', 'arrow3')">
			
			Videos 
			<span id="arrow3" class=" arrow fas fa-caret-right"></span>
		</div>

		<div class="tablinks tab" onclick="openTab(event, 'photoshop', 'arrow4')">
			
			Photoshop <span id="arrow4" class=" arrow fas fa-caret-right"></span>
		</div>
	</section>

	<aside class="tabs aside-menu">

		<div id="appetizer" class="tabcontent">
			<h3>APPETIZERS</h3>
            <h4>Homemade Guacamole  <span>small- $5.00 | large -$10</span></h4>

            <aside>
                <p>House Chips & Salsa (Refill) $1.00 Favorite! - First basket is on us! </p>
            </aside>

            <h4>
                Taquitos Dorados  <span>$7.50</span>
            </h4>

            <aside>
                <p>
                    3 mini deep fried tacos stuffed with shredded chicken breast and topped with fresh green leaf lettuce, zesty salsa, queso fresco, and drizzled with sour cream.
                </p>
            </aside>

            <h4>
                Coctel de Camaron  <span>$9.75</span>
            </h4>

            <aside>
                <p>
                    Large shrimp in house cocktail sauce with avocado, cilantro,and diced onions. Served with crackers.
                </p>
            </aside>

            <h4>
                Loaded Nachos  <span>$8.75</span>
            </h4>

            <aside>
                <p>
                    Topped with melted Monterey Jack cheese, homemade refried black beans, pico de gallo, guacamole, pickled jalapeños, drizzled with sour cream.
                </p>
            </aside>

            <h4>
                Tostaditas  <span>$8.50</span>
            </h4>

            <aside>
                <p>
                    2 deep fried tostada shells topped with Tinga (smoky shredded chicken breast cooked with onions), topped with homemade refried black beans, fresh green leaf lettuce, zesty salsa, queso fresco, drizzled with sour cream.
                </p>
            </aside>

            <h4>
                Sopestitos  <span>$7.00</span>
            </h4>

            <aside>
                <p>
                    3 masa (corn) cakes made from scratch, topped with our flavorful homemade refried black beans, fresh green leaf lettuce, queso fresco, zesty salsa, drizzled with sour cream.
                </p>
            </aside>

            <h4>
                SOUP Xochitl (SO-chill)  <span>$8.00</span>
            </h4>

            <aside>
                <p>
                    Shredded chicken breast, homemade rice, chopped onions, topped with fresh cilantro. Served with a side of steamed corn tortillas. Add a squeeze of lime for a festive flavor!
                </p>
            </aside>

            <h4>
                ADD MEAT  <span>$5.00</span>
            </h4>

            <aside>
                <p>
                    Carne Asada, Al Pastor, Chile Verde, Carnitas, Pollo Adobado, or Chorizo Add Shrimp or Fish $6.50
                </p>
            </aside>
		</div>

		<div id="wordPress" class="tabcontent">
			<h3>WordPress</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae assumenda sit nulla cum quam, nam, vel hic, ex ut nisi aspernatur provident accusamus ratione impedit adipisci maxime. Necessitatibus, aliquam.</p>
		</div>

		<div id="videos" class="tabcontent">
			<h3>Videos</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
		</div>
		<div id="photoshop" class="tabcontent">
			<h3>Photoshop</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
		</div>
	</aside>
</div> <!-- end of the flex-container-menu -->
</div> <!-- end of container -->

