---
title: La Parrilla Mexican Grill | Vertiacal mnu
---

<!-- 	<h2>Vertical Tabs</h2>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div> -->

<div class="container container_wrapper ">

	<h1>Menu</h1>

<div class="sidebar-menu">

	<section class="tabs section-menu item-one item">

		<div class="tablinks tab is-tab-selected menu-underline-animation" onclick="openTab(event, 'appetizer')" id="defaultOpen">
			APPETIZERS
		</div>

		<div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'beverage')">
			BEVERAGES
		</div>

		<div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'salads',)">
			SALADS
		</div>

		<div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'quesadillas')">
			QUESADILLAS
		</div>

        <div class="tablinks tab menu-underline-animation" onclick="openTab(event, 'enchiladas')">
			ENCHILADAS
		</div>
	</section>

	<aside class="tabs aside-menu">

		<div id="appetizer" class="tabcontent">
			<h3>APPETIZERS</h3>
            <h4>Homemade Guacamole  <span>small- $5.00 | large -$10</span></h4>

            <aside>
                <p>House Chips & Salsa (Refill) $1.00 Favorite! - First basket is on us! </p>
            </aside>

            <h4>
                Taquitos Dorados  <span>$7.50</span>
            </h4>

            <aside>
                <p>
                    3 mini deep fried tacos stuffed with shredded chicken breast and topped with fresh green leaf lettuce, zesty salsa, queso fresco, and drizzled with sour cream.
                </p>
            </aside>

            <h4>
                Coctel de Camaron  <span>$9.75</span>
            </h4>

            <aside>
                <p>
                    Large shrimp in house cocktail sauce with avocado, cilantro,and diced onions. Served with crackers.
                </p>
            </aside>

            <h4>
                Loaded Nachos  <span>$8.75</span>
            </h4>

            <aside>
                <p>
                    Topped with melted Monterey Jack cheese, homemade refried black beans, pico de gallo, guacamole, pickled jalapeños, drizzled with sour cream.
                </p>
            </aside>

            <h4>
                Tostaditas  <span>$8.50</span>
            </h4>

            <aside>
                <p>
                    2 deep fried tostada shells topped with Tinga (smoky shredded chicken breast cooked with onions), topped with homemade refried black beans, fresh green leaf lettuce, zesty salsa, queso fresco, drizzled with sour cream.
                </p>
            </aside>

            <h4>
                Sopestitos  <span>$7.00</span>
            </h4>

            <aside>
                <p>
                    3 masa (corn) cakes made from scratch, topped with our flavorful homemade refried black beans, fresh green leaf lettuce, queso fresco, zesty salsa, drizzled with sour cream.
                </p>
            </aside>

            <h4>
                SOUP Xochitl (SO-chill)  <span>$8.00</span>
            </h4>

            <aside>
                <p>
                    Shredded chicken breast, homemade rice, chopped onions, topped with fresh cilantro. Served with a side of steamed corn tortillas. Add a squeeze of lime for a festive flavor!
                </p>
            </aside>

            <h4>
                ADD MEAT  <span>$5.00</span>
            </h4>

            <aside>
                <p>
                    Carne Asada, Al Pastor, Chile Verde, Carnitas, Pollo Adobado, or Chorizo Add Shrimp or Fish $6.50
                </p>
            </aside>
		</div>

		<div id="beverage" class="tabcontent">
			 <h3>BEVERAGES</h3>
            <h4>
                Fountain  <span>$2.75</span>
            </h4>

            <aside>
                <p>
                    Pepsi, Diet Pepsi, Brisk Unsweetened Iced Tea, Brisk Raspberry Tea, Sierra Mist, Orange Dr. Pepper, Crush, Decaffeinated: Mug Root Beer, Tropicana Lemonade, Sierra Mist, Horchata - (no refill)
                </p>
            </aside>

            <h4>
                Bottled  <span>$3.00</span>
            </h4>

            <aside>
                <p>
                    Coke, Jarritos: flavors: Lime, Mandarin, Pineapple, Strawberry & Tamarindo, Hot Tea, Coffee

                </p>
            </aside>

            <h3>BEER</h3>
            <h4>
                Bottled Beer  <span>$4.00</span>
            </h4>

            <aside>
                <p>
                    Clausthauler, Coors Light, Corona, Corona Light, Pacifico, Siearra Nevada

                </p>
            </aside>

            <h4>
                Draft Beer  <span>$5.00</span>
            </h4>

            <aside>
                <p>
                    Modelo Especial, Negra Modelo, Laguanitas IPA

                </p>
            </aside>

            <h3>AGUAVE WINE MARGARITAS</h3>
            <h4>
                <span>$5.50</span>
            </h4>
            <aside>
                <p>
                    Served on the rocks ONLY. Choose From: Regular (Lime) Strawberry | Jalapeño

                </p>
            </aside>

            <h3>WINE</h3>
            <h4>Corkage Fee<span>$5.00</span>
            </h4>
            <aside>
                <p>
                    House wine - Coastal Ridge Canernet Sauvignan or Chardonnay, by the glass $6.00

                </p>
            </aside>
		</div>

		<div id="salads" class="tabcontent">
			<h3>SALADS</h3>

            <h4>
                Taco Salad <span>$10.50</span>
            </h4>

            <aside>
                <p>
                    Flat tostada shells, house-made refried black beans, fresh green leaf lettuce tossed in house dressing, pineapple, picode gallo, queso fresco, pickled red onions, shredded carrotts, guacamole, drizzled with sourcream.
                </p>
            </aside>

            <h4>
                Parrilla House Salad <span>Small $6.50 | Large $8.50</span>
            </h4>

            <aside>
                <p>
                    Fresh green leaf lettuce, pico de gallo, pineapple, carrotts, queso fresco, pickled red onions, and sesame seeds. Tossed in our house dressing. ADD MEAT $5.00 : Carne Asada, Al Pastor, Chile Verde, Carnitas, or Pollo Adobado. Add Shrimp or Fish $6.50
                </p>
            </aside>
		</div>
		<div id="quesadillas" class="tabcontent">
			    <h3>QUESADILLAS</h3>
            <h4>Quesadilla  <span>$9.50</span></h4>
            <aside>
                <p> <em>
                Flour tortilla with a generous portion of melted Monterey Jack cheese Served with refried black beans and sour cream on the side. Add meat: Carne Asada, Al Pastor, Pollo Adobado or Fresh Veggies +3.00 Switch to Grilled Shrimp or Fish +$4.00 </em>
            </p>
        </aside>
		</div>


        <div id="enchiladas" class="tabcontent">
			<h3>ENCHILADAS</h3>
        <p>
            3 of the same type of our authentic enchiladas are served with our house-made refried black beans and rice. Mixing enchilada types are subject to $2 charge
        </p>
        <h4>Parrilla Enchilada  <span>$14.95</span></h4>

        <aside>
            <p>
                Tender shredded chicken breast with your choice of red (mild) or green (zesty) sauce. Topped with quest fresco sliced onions, drizzled with sour cream.
            </p>
        </aside>

        <h4>Suizas <span>$14.95</span></h4>

        <aside>
            <p>
                Tender shredded chicken breast with melted Monterey Jack cheese. Choice of red (mild) or green (zesty) sauce. Topped with sliced onions, drizzled with sour cream.
            </p>
        </aside>

        <h4>Veggie (Tostada-style) <span>$14.95</span></h4>

        <aside>
            <p>
                Carrots, potatoes, bell peppers, onions, mushrooms, cactus, and queso fresco. Choose red (mild) or green (zesty) sauce. Topped with sliced onions and a drizzling of sour cream.
            </p>
        </aside>

        <h4>Mole Pablano <span>$15.25</span></h4>

        <aside>
            <p>
                Corn tortillas softened with our Mole sauce (hot chiles, blended with rich chocolate sauce), stuffed with shredded chicken breast, topped with onions, queso drizzled with sour cream.
            </p>
        </aside>

        <h4>Enchiladas Michoacanas (Mitch-oa-kannas) <span>$15.25</span></h4>

        <aside>
            <p>
                Corn tortillas cooked in red guajillo sauce, topped with tender shredded chicken breast, diced potatoes & carrotts, shredded green leaf lettuce, quest fresco, sliced onions, and drizzled with sour cream.
            </p>
        </aside>

        <h4>A la carte enchilada (Choose one) <span>5.50</span></h4>

        <aside>
            <p>
                Suiza, Parrilla, Veggie or Mole Pablano
            </p>
        </aside>
		</div>
	</aside>
</div> <!-- end of the flex-container-menu -->
</div> <!-- end of container -->

