---
title: La Parrilla Mexican Grill | Vertiacal mnu
---


<!-- 	<h2>Vertical Tabs</h2>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">London</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Paris</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Tokyo</button>
</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div> -->

<div class="container">

	<h1>Menu</h1>

<div class="flex-container-menu">

	<section class="tabs tab-menu">

		<div class="tablinks tab is-tab-selected" onclick="openTab(event, 'appetizer', 'arrow1')" id="defaultOpen">
			APPETIZERS
			<span id="arrow1" class="arrow fas fa-caret-right"></span>
		</div>

		<div class="tablinks tab" onclick="openTab(event, 'wordPress', 'arrow2')">
			
			WordPress <span id="arrow2" class=" arrow fas fa-caret-right"></span>
		</div>

		<div class="tablinks tab" onclick="openTab(event, 'videos', 'arrow3')">
			
			Videos 
			<span id="arrow3" class=" arrow fas fa-caret-right"></span>
		</div>

		<div class="tablinks tab" onclick="openTab(event, 'photoshop', 'arrow4')">
			
			Photoshop <span id="arrow4" class=" arrow fas fa-caret-right"></span>
		</div>
	</section>

	<aside class="item-menu">

		<div id="appetizer" class="tabcontent">
			<h3>APPETIZERS</h3>
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo debitis pariatur harum expedita maiores aliquid, iure distinctio voluptas recusandae velit, officia ratione praesentium consequatur rem dolorem maxime architecto consectetur sint?

			</p>
		</div>

		<div id="wordPress" class="tabcontent">
			<h3>WordPress</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quae assumenda sit nulla cum quam, nam, vel hic, ex ut nisi aspernatur provident accusamus ratione impedit adipisci maxime. Necessitatibus, aliquam.</p>
		</div>

		<div id="videos" class="tabcontent">
			<h3>Videos</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
		</div>
		<div id="photoshop" class="tabcontent">
			<h3>Photoshop</h3>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non blanditiis voluptates, consequatur, ratione debitis quibusdam autem exercitationem provident, veniam impedit quae mollitia nobis a distinctio cum laborum corporis. Itaque, minus?</p>
		</div>
	</aside>
</div> <!-- end of the flex-container-menu -->
</div> <!-- end of container -->

